.container {
    width: 350px;
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
    padding: 40px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 36px;
        color: black;
        font-weight: 500;
    }

    .inputs {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        gap: 5px;
    }

    .lineWrapper {
        margin-top: 20px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .line {
            flex-grow: 1;
            flex-shrink: 1;
            height: 1px;
            background-color: rgb(219, 219, 219);
        }

        .text {
            color: gray;
            font-size: 18px;
            font-weight: 500;
        }
    }

    .facebook {
        margin-top: 30px;
        color: rgb(0, 149, 246);
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }

    .forget {
        color: black;
        font-weight: 500;
        font-size: 14px;
        margin-top: 20px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .buttonWrapper {
        width: 100%;
        height: 32px;
    }
}