.container {
    max-width: 560px;
    width: 100%;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        width: 100%;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 0.8px solid rgb(219, 223, 228);
        position: relative;

        .title {
            color: rgb(12, 16, 20);
            font-size: 16px;
            font-weight: 600;
        }

        .closeWrapper {
            cursor: pointer;
            user-select: none;
            height: 100%;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;


            .close {
                width: 18px;
                height: 18px;
            }
        }
    }

    .cake {
        width: 100px;
        margin-top: 20px;
    }

    .subtitle {
        margin-top: 10px;
        color: rgb(12, 16, 20);
        font-size: 20px;
        font-weight: 400;
        padding: 0px 10px;
    }

    .text {
        margin-top: 10px;
        padding: 0 20px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: rgb(12, 16, 20);
    }

    .buttonWrapper {
        margin-top: 30px;
        width: 100%;
        border-top: 0.8px solid rgb(219, 223, 228);
        height: 43px;
    }
}