.alter {
    width: 350px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;

    color: black;
    font-size: 14px;

    a {
        color: rgb(65, 80, 247);
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }
}